---
import Container from "../container.astro";
import ProductCard from "../product/product-card.astro";
import { Icon } from "astro-icon";

const response = await fetch("http://127.0.0.1:8001/api/product");
const { data: products }: { data: IProduct[] } = await response.json();
---

<Container>
  <section class="flex h-[73dvh] flex-col justify-center">
    <div class="flex justify-between px-2">
      <h2 class="font-semibold text-2xl">products</h2>
      <a href="/product" class="hover:underline">
        more
        <Icon name="mdi:arrow-top-right" class="w-4 h-4 mr-1 inline" />
      </a>
    </div>
    <hr class="my-3" />
    <div>
      <div class="grid grid-cols-4 gap-6">
        {
          products
            .slice(0, 4)
            .map((product) => (
              <ProductCard
                name={product.name}
                image={product.image}
                id={product.id}
                quantity={product.stock}
                price={product.price}
              />
            ))
        }
      </div>
    </div>
  </section>
</Container>
